.translation
  .papa
  .pontifice

.load Mostrar


= simple_form_for Translation.new, remote: true, html: { class: 'form-inline' } do |f|
  = f.input :papa, label: false, placeholder: 'Papa frita'
  = f.input :pontifice, label: false, placeholder: 'Pontífice en aprietos'
  = f.submit 'Agregar', class: 'btn'
