// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass'

body
  @media (max-width: 940px)
    font-size: 0.9em
  @media (max-width: 600px)
    font-size: 0.8em
    .translation
      margin-top: 24px
      min-height: 5.5em
    .load
      line-height: 2.5em
  @media (max-width: 530px)

  @media (max-width: 400px)
    font-size: 0.7em

  @media (max-height: 400px)
    .translation
      margin-top: 12px
      min-height: 4em

  @media (max-height: 350px)
    footer
      #new_translation
        display: none

.translation
  text-align: center
  font-size: 4em
  margin-top: 100px
  min-height: 4.5em
  cursor: pointer
  font-weight: 100
  div
    display: none
    line-height: 1.5em
  .pontifice
    font-family: Georgia, serif
    font-style: italic
  .tweet
    text-align: center
    color: #1EB7EF
    font-size: 0.5em
    cursor: pointer
    &:hover
      color: #323332
  

.load 
  font-size: 2.5em
  line-height: 3em
  cursor: pointer
  text-align: center
  color: #aaa
  font-weight: 100
  +user-select(none)
  &:hover
    color: black


footer
  text-align: center
  font-weight: 100
  position: absolute
  bottom: 12px
  width: 100%
  padding: 0 20px
  margin: 0 auto
  .cc
    margin: 10px 0
  #new_translation
    margin: 10px 0


