// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.translation 
  font-size: 4em
  text-align: center
  margin-top: 200px
  height: 8em
  cursor: pointer
  div
    line-height: 2em
  

.load 
  font-size: 3em
  line-height: 3em
  cursor: pointer
  text-align: center
  color: grey
  &:hover
    color: black