// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.translation 
  font-size: 4em
  text-align: center
  margin-top: 100px
  height: 4em
  cursor: pointer
  font-weight: 100
  div
    line-height: 1.5em
  .pontifice
    font-family: Georgia
    font-style: italic
  

.load 
  font-size: 2.5em
  line-height: 3em
  cursor: pointer
  text-align: center
  color: #aaa
  font-weight: 100
  &:hover
    color: black

#new_translation
  position: absolute
  bottom: 16px
  width: 100%
  text-align: center
